@media (max-width: 740px) {
    /* mobile */
    #nav > li {
        display: block;
    }

   #header{
    overflow: hidden;
   }

   iframe {
    height: 300px;
   }

    #nav {
      display: block;
    }

    #mobile-menu {
      position: absolute;
      top: 0;
      right: 0;
      height: auto;
    }

    .search-btn {
        display: none;
    }
    
}
 @media (min-width: 740px) and (max-width: 1023px){ 
    /* tablet */
    .mobile-menu-btn{
      display: none;
    }
  }

  @media (min-width: 1024px) { 
    /* pc  */
    .mobile-menu-btn{
      display: none;
    }
  }
 

